
$primary-color: #03A9F4;
$accent-color: #009688;
$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$text-icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;